body{
   
    margin-left: 5%;
    margin-right: 5%;
}
.content-right{
    padding-left: 83px;
    padding-top: 50px;
    margin-right: 1%;

}
.logo
{
    position:absolute;
    left: 19%;
    top: 37%;
}

.logo-a
{
    position:absolute;
    left: 11%;
    top: 6%;
    width: 42%;
}
.outter-image
{
    position: relative;
}
.text{
    position:absolute;
    top: 55%;
    left: 20%;
    font-size: 200%;
    color: white
}

.reset-password{
    position: absolute;
    top: 27%;
    left: 13%;
    font-size: 338%;
    color: white;
}

.inner-iamge{
   position: absolute;
  top: 0%;
}
.content-left{
    /* background-image: url("./Asset/Sign\ Up\ Page/Background-Ungu.Png"); */
    background-position: center;
    background-repeat: no-repeat;
  background-size:cover;
}

.login-word{
    text-align: left;
}
.inputfields{
    
   
}

.purple-square{
    width: 1000px;
    height: max-content;
    background-color: #5F2EEA;
}

.sign-up{
    font-size: 50px;
    font-weight: bold;
    
}
.fill-details{
    font-size: 20px;
    color: #AAAAAA;
}
.card{
    padding: 10px;
    padding-top: 20px;
    padding-left: 20px;
    margin-right: 0%;
    height: 100%;
    border-radius: 10px;
    background-color: #FCFDFE;
    color:#A0A3BD;
}

.first-name{
    margin-top: 3%;
    font-size: 16px;
    color: #4E4B66;
    text-align: left;
}

.btn-primary {
    margin-top: 6%;
    background-color:#5F2EEA ;
   align-items: center;
   padding: 3%;
   padding-right: 43%;
   padding-left: 43%;
border-radius: 20px;
}
.account{
    padding-top: 3%;
    padding-right: 15%;
    padding-left: 15%;
    color: gray;
}

.sign-in{
    color: #5F2EEA;
    text-decoration: underline;
    font-weight: 700;
}

.eye-image{
    border:none;
    padding: 0px;
    padding-bottom: 3%;
    margin-right: 5%;
    text-align: end;
}

.card-password{
padding: 0%;
border: none;
}

.sign-in-2{
   margin-top: -5%;
}
.sign-{
   margin-top: -5%;
}

.complete-password{
    font-size: 40px;
}

.tickitz-logo-a{
    margin-bottom: 7%;
}

.word-content-left{
    position: absolute;
    top: 37%;
    left: 14%;
    font-size: 188%;
    color:#ffffff;
    opacity: 70%;
}

@media only screen and (max-width: 768px) {

    .content-left{
        display: none;
    }
  .text-bottom{
    font-size:14px;

  }
  .width-main{
    display: none;
  }
}
